*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Inter,sans-serif;
}

body{
    background:#0f1115;
    color:#fff;
}

/* ==========================
   NAVBAR
========================== */
.navbar{
    height:70px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 20px;
    background:#171a21;
    border-bottom:1px solid #2c2f36;
}

.logo{
    font-size:20px;
    font-weight:700;
    color:#00d9ff;
}

.menu{
    display:flex;
    gap:12px;
    list-style:none;
    font-size:15px;
}

.menu li{
    cursor:pointer;
}

/* ==========================
   HERO
========================== */

.hero{
    min-height:70vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:34px;
    margin-bottom:15px;
}

.hero p{
    color:#c7c7c7;
    margin-bottom:30px;
}

.hero-btn{

    padding:15px 35px;

    border:none;

    border-radius:12px;

    background:#00d9ff;

    color:#111;

    font-size:18px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

}

.hero-btn:hover{

    transform:scale(1.05);

}